*{
    margin: 0;
    padding: 0
}
.cabecalho{
    background-color: #EF7E22;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    align-items: center;
}
.cabecalho-imagem{
    width: 15%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 20px;
    font-size: 24px;
}
.tenis-imagem{
    width: 20%;
}
.tenis{
    background-image: linear-gradient(#EF7E22, #F8C59C);
    color: #902B06;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.div-tenis{
    width: 35% ;
}

